Vagrantfile
vagrant/
.swc/
.turbo/
nix/
flake.nix
flake.lock
var/
srv/
tests/
*.md
docker-compose*.yml
.github/workflows/
.php-cs-fixer.cache
.php-cs-fixer.dist.php
.phpunit.result.cache
phpstan.neon
